<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>koa2-mysql</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <style>
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  ul,li{
    list-style-type: none;
  }
  a {
      text-decoration: none;
  }
  .header{
    width: 100%;
    height: 42px;
    background: #292961;
  }
  .header-title{
    color:#fff;
    line-height: 42px;
    position: absolute;
    left: 60px;
    top: 0px;
  }
  .header-img{
    width: 42px;
    height: 42px;
    padding: 5px;
  }
  .body{
    padding: 5px;
  }
  .parent{
    width: 100%;
    height:500px;
    /* border: aqua 2px solid; */
    display:flex;
    justify-content:space-between;/*两端对齐*/
    flex-direction:row;/*布局方向 默认水平row 垂直column*/
  }
  .child-left{
    width: 20%;
    background:rgb(223, 223, 223);
  }
  .nav li{
    border-bottom: #999 1px solid;
  }
  .child-mid{
    flex:1;
    width:80px;/*flex-direction:column垂直布局时，将height改为width;*/
    background:rgb(208, 235, 243);
  }
  .child-mid ul li{
    padding: 0px 10px;
    background: #ddd;
  }
  .add{
    padding: 10px;
  }
  
  </style>
</head>
<body>
<header class="header">
  <img class="header-img" src="http://git.jd.com/uploads/-/system/appearance/header_logo/1/joy.png" alt="">
  <p class="header-title">我的同事</p>
</header>
<div class="body">
  <div class="parent">
    <div class="child-left">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="/">首页</a></li>
        <li role="presentation"><a href="/add">新增</a></li>
        
      </ul>
    </div>